<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Analyse de Sentiments</title>
</head>
<body>
    <h1>Analyse de Sentiments</h1>
    <form method="post" enctype="multipart/form-data">
        <textarea name="user_text" placeholder="Entrez votre texte ici"></textarea><br>
        <input type="file" name="file"><br>
        <input type="submit" value="Analyser">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>

